/* You should edit the content below to fit your website */

* {
	font-family: Arial, Verdana, sans-serif;
	color: black;
	text-align: center;}
body {
	width: 960px;
	margin: 0 auto;
	background-color: #ABEBC6;
	border: double;}
li {
	display: inline;
	padding: 5px;}
nav {
	background-color: #F0FFFF;
	padding: 10px;
	margin: 10px;}
section {
	overflow: auto;
	height: 100%;}
main {
	background-color: #F0FFFF;
	padding: 10px;
	margin: 10px;}
article {
	background-color: #F0FFFF;
	padding: 10px;
	margin: 10px;
	width: 280px;
	float: left;}
.mart {
	background-color: #C54B8C;}
footer {
	background-color: #F0FFFF;
	padding: 10px;
	margin: 10px;}
#content {
	overflow: auto;
	height: 100%;}
.column1, .column2, .column3 {
	float: left;
	margin: 10px;}
